<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/favicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLibrary"
        tools:targetApi="31">
        <activity
            android:name=".TurgenevActivity"
            android:exported="false" />
        <activity
            android:name=".BronteActivity"
            android:exported="false" />
        <activity
            android:name=".LondonActivity"
            android:exported="false" />
        <activity
            android:name=".BowenActivity"
            android:exported="false" />
        <activity
            android:name=".MarrsActivity"
            android:exported="false" />
        <activity
            android:name=".BrownActivity"
            android:exported="false" />
        <activity
            android:name=".RemarqueActivity"
            android:exported="false" />
        <activity
            android:name=".SapkovskiyActivity"
            android:exported="false" />
        <activity
            android:name=".KingActivity"
            android:exported="false" />
        <activity
            android:name=".CarrisiActivity"
            android:exported="false" />
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".NesboActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>